table{
    font-family: 'Anton', sans-serif;
}
label {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.4em;
    color: #1DA1F2;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.design-form label, input, button {
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.design-field-form {
    margin-left: 20px;
    background: #ecf0f3;
    padding-top: 8px;
    padding-left: 10px;
    height: 30px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#countryField {
    margin-left: 20px;
}

.linear-design label, input, button{
    font-size: 15px;
}
.design-btn {
    color: white;
    margin: 0 20px 20px 20px;
    background: #1DA1F2;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 900;
    padding: 10px 30px;
    transition: 0.5s;
}

